.content
  p.author Created by Krisztian Kugler 
  .divider
  .github
    | GitHub:
    a(href="https://github.com/krisztian-kugler/my-local-pitch", target="_blank")
      img(src="assets/img/github_logo.svg", alt="GitHub")