\:host
  flex: 1
  overflow-y: auto
  .info-bar
    position: sticky
    z-index: 500
    top: 0
    left: 0
    right: 0
    height: 70px
    background-color: white
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33)
    color: black
    .container
      display: flex
      flex-wrap: wrap
      align-items: center
      max-width: 1084px
      margin: 0 auto
      padding: 0 30px
      height: 100%
      .back
        display: flex
        cursor: pointer
        transition: color 250ms
        i
          position: relative
          top: 2px
          margin-right: 5px
        &:hover
          color: rgb(107, 173, 39)
  .content
    max-width: 1084px
    min-height: calc(100vh - 210px)
    margin: 0 auto
    padding: 30px 30px 70px
    .container-top
      display: flex
      margin-bottom: 30px
      padding-bottom: 30px
      border-bottom: 1px solid rgb(222, 222, 222)
      .image-container
        flex-basis: 60%
        margin-right: 30px
        .image-current
          height: 360px
          width: 100%
          margin-bottom: 10px
          border-radius: 5px
          object-fit: cover
        .image-list
          display: flex
          height: 100px
          img
            width: 150px
            margin-right: 10px
            border-radius: 5px
            cursor: pointer
            opacity: .5
            transition: opacity 250ms
            &:hover
              opacity: 1
            &.selected
              opacity: 1
      .pitch-header
        flex-basis: 40%
        h1.name
          margin-bottom: 10px
          color: rgb(131, 196, 65)
          font-weight: normal
        > p
          height: 24px
        .surface
          margin-bottom: 10px
        .facilities
          .facility
            display: flex
            align-items: center
            height: 24px
            margin-right: 15px
            i
              position: relative
              top: 2px
              margin-right: 5px
              color: rgb(131, 196, 65)
    .container-bottom
      display: flex
      .about
        flex: 1
        margin-right: 60px
        h1.title
          margin-bottom: 30px
          font-weight: normal
          font-size: 24px
        .description
          padding-right: 30px
          line-height: 1.5
      .availability
        display: flex
        flex-direction: column
        flex-basis: 300px
        h1.title
          margin-bottom: 30px
          font-weight: normal
          font-size: 24px
        .date-picker
          display: flex
          align-items: center
          margin-bottom: 15px
          span
            display: flex
            justify-content: flex-end
            flex-basis: 60px
            padding-right: 15px
        .dropdown
          position: relative
          width: 240px
          .dropdown-toggle
            position: relative
            display: flex
            align-items: center
            width: 100%
            height: 40px
            padding: 0 10px
            background-color: white
            border: 1px solid rgb(222, 222, 222)
            border-radius: 5px
            cursor: pointer
            transition: border-color 250ms
            i.far
              margin-right: 10px
              color: rgb(107, 173, 39)
              font-size: 16px
            &:hover
              border-color: rgb(133, 133, 133)
            &::after
              position: absolute
              right: 10px
              top: calc(50% - 1px)
              content: ""
              width: 0
              height: 0
              border-left: 6px solid transparent
              border-right: 6px solid transparent
              border-top: 6px solid black
            .start-calendar, .end-calendar
              position: absolute
              top: calc(100% + 2px)
              right: 0
          .dropdown-menu
            position: absolute
            z-index: 1000
            top: calc(100% + 2px)
            width: 100%
            max-height: 150px
            background-color: white
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .33)
            list-style: none
            overflow-y: auto
            .dropdown-item
              display: flex
              align-items: center
              height: 30px
              padding: 0 10px
              color: black
              cursor: pointer
              user-select: none
              &:hover
                background-color: rgb(131, 196, 65)
                color: white
        .button
          align-self: flex-end

    .footer-details
      margin-top: auto

@media screen and (max-width: 768px)
  \:host
    .content
      .container-top
        flex-direction: column
        border: none
        .image-container
          margin-right: 0
          .image-current
            height: auto
          .image-list
            display: none
      .container-bottom
        flex-direction: column-reverse
        .about
          margin-right: 0
          padding-top: 30px
          border-top: 1px solid rgb(222, 222, 222)
          .title
            margin-bottom: 15px
        .availability
          flex-basis: auto
          padding: 30px 0
          border-top: 1px solid rgb(222, 222, 222)
          .title
            margin-bottom: 15px