header.header
  img.logo(src="assets/img/mlp_logo.svg", alt="Logo", routerLink="/home")
  mlp-search
  .github
    | GitHub:
    a(href="#")
      img(src="assets/img/github_logo.svg", alt="GitHub")
router-outlet